.img-carousel{
    width: 1280px;
    height: 853px;
    object-fit: cover;
}
.top-buffer { 
    margin-top:4%; 
}
.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
@media (max-width: 350px) {
    .img-carousel{
        width: 366px;
        height: 172px;
        object-fit: cover;
    }    
}

@media (max-width: 576px) {
    .img-carousel{
        width: 576px;
        height: 270px;
        object-fit: cover;
    }    
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
    .img-carousel{
        width: 366px;
        height: 172px;
        object-fit: cover;
    }
    .flex-container {
        flex-direction: column;
        justify-content:space-around;
      }
      .card{
        margin-top:2%; 
      }
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {}